<div class="mttour">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mttour__left-column">
        <img src="/assets/img/SPRING00.jpg">
      </div>
      <div class="col-md-4 mttour__right-column">
        <div class="mttour__logo">
          <img src="/assets/img/YAMAHA.png">
        </div>
        <div class="mttour__description">
          <p>
            Przed nami kolejna odsłona MT Tour! Jesteś gotowy doświadczyć Ciemnej Strony Japonii? Nie czekaj! Zarezerwuj miejsce na wybrane wydarzenie, a
            przekonasz się, że motocykle Yamaha z serii MT gwarantują niezapomniane wspomnienia z jazdy. Jakość MT została doceniona przez tysiące użytkowników
            w Polsce i Europie. Czas na Ciebie!
          </p>
          <p>
            Podczas tegorocznej edycji będziesz miał do dyspozycji pełną gamę pojazdów hyper nakedów Yamahy – modele napędzane dynamicznymi silnikami o
            imponującym momencie obrotowym, o pojemnościach od 125 do 1000 cm3. Wśród nich na pewno znajdziesz motocykl dla siebie!
          </p>
          <ul>
            <li>MT-10 SP</li>
            <li>MT-10 TOURER EDITION</li>
            <li>MT-10</li>
            <li>MT-09 SP</li>
            <li>MT-09</li>
            <li>MT-07</li>
            <li>MT-07 35 kW</li>
            <li>MT-03</li>
            <li>MT-125</li>
          </ul>
        </div>
        <div class="mttour__sign-in mttour__sign-in_warning">
          Koniec zapisów! Nie dostałeś się na listę? Przyjdź bezpośrednio na imprezę, wpiszemy Cię na listę rezerwową i w miarę dostępności miejsc postaramy się
          zorganizować jazdę testową.
        </div>
      </div>
    </div>
  </div>
</div>
